@model IEnumerable<Student_Task_Management.Models.Team_Member>
@{
	ViewData["Title"] = "Index";
}
<a asp-action="Create" asp-controller="Team" >Click Here To Add A New Member!</a>
<table class="table table-dark table-striped">
	<thead>
				<tr>
			<th>
				@Html.DisplayNameFor(model => model.team_member_id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.role)
			</th>
			<th></th>
		</tr
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.team_member_id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.role)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.team_member_id">Edit</a> |

				</td>
			</tr>
		}
	</tbody>
</table>
